* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

nav {
	background-color: #394045;
	padding: 16px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
	
}

.logo {
	font-size: 32px;
	color: #ffffff;
	font-weight: bold;
}
ul {
	list-style: none;
}

ul li {
	display: inline;
	margin-right: 20px;
}

ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
}

ul li a i{
	margin-right: 5px;
	color: #f78898;
}

ul li a i:hover{
	margin-right: 5px;
	color: #693484;
}






.logo-collor {
	position: relative;
	color: #52616d;
	text-transform: uppercase;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
	line-height: 0.70em;
	outline: none;
	animation: animate 20s linear infinite;
}

@keyframes animate 
{ 35%              
	{
	color: #f78898;
	text-shadow: none;
}
 80%
	{
	color: #fff;
	text-shadow: 0 0 1px #fff,
	0 0 1px #fff,
	0 0 5px #fff,
	0 0 5px #fff,
	0 0 1px #fff;


}
}

.logged-name{
	color: red;
}





















/* 
:root {
	--mainColor: #DFC1C1;
	--mainColorLight: #48BFC7;
	--secondaryColor: #ffffff;
	--textColor: #000000;
	--lastWordColor: #ff0000;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
} 

.header_nav_buttons{
	font-family: "Kadwa", serif;
	font-size: 1rem;
}
.header_nav_buttons:hover{
	color: var(--secondaryColor);
}
header h3 a{
	align-items: center;
	margin-left: 1rem;
	font-size: 1rem;
	color: var(--textColor);
	margin-left: 10rem;
}

nav a {
	margin: 0 1.5rem;
	color: var(--textColor);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 400;
	font-family: "Kadwa", serif;
}

nav a:hover {
	color: var(--secondaryColor);
}
nav a:nth-child(4){
	color: var(--lastWordColor);
}
nav a:nth-child(4):hover {
	color: var(--secondaryColor);
}
nav i{
	margin: 0.5rem;
	font-style: normal;
}
header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
} */

























/* -----------nereikalinga dalis---------------- */
/* @media only screen and (max-width: 1420px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		right: 0;
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
		
	}

	nav a {
		font-size: 1.5rem;
		
	}
} */
