.container {
  
    width: 100%;
    margin: 0 auto;  
background-color: #DFC1C1;
display: flex;
flex-direction: column;
align-items: center;}





.title {
    color: #871919;
    font-size: 96px;
}
.main_page_button {
    background-color: #871919;
    color: white;
    height: 100px;
    font-size:  38px;
    width: 300px;
    margin-top: 160px;
    margin-bottom: 160px;
    font-family: "Kadwa", serif;
  font-weight: 700;
  border-radius: 15px;
  padding: 1.37rem;
  
}
.button:hover{
    background-color: #3DB9F9;

}
.mainTitle{
    margin-top: 124px;
    margin-bottom: 0;
    font-size: 96px;
    color: black;
    line-height: 0;
    font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.bottomText{
    margin-left: 166px;
   margin-top: 62px;
   margin-bottom: 38px;
   max-width: 820px;
  text-align: left;
  margin-right: auto;
  font-size: 32px;
  font-family: "Kadwa", serif;
  font-weight: 400;
  font-style: normal;

}
 .bottom_section{ 
  background-color: white;
} 

.main_page_button2 {
  height: 100px;
  font-size:  38px;
  width: 300px;
  margin-top: 160px;
  margin-bottom: 160px;
  cursor:default;
  opacity: 0;
}