
.container {
  min-height: 90vh;
  background: url(../../assets/Background7.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 20rem 30rem 20rem 20rem;
  grid-template-rows: 10rem 10rem 10rem 10rem 10rem;
  }
  
.content {

grid-column: 1 / 3;
    grid-row: 2 /  3;
}
.homepage-picture{
  grid-column: 3 / 5;
    grid-row: 2/  3;
}
.content h1 {
font-size: 70px;
color: #394045;

}

.content p {
  margin: 10px 0 30px;
  color: #394045;
  font-size: 30px;
}

.content .pgr-btn {
  padding: 15px 80px;
  font-size: 20px;
}

.pgr-btn {
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  color: #fff;
  background-color:#7335827c;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  border-radius: 30px;
/* border-top-right-radius: 0;  */
transition: 0.5s;
}

.pgr-btn:hover {
  border-top-right-radius: 30px;
}

.feature-img {
  width: 700px;
  
  bottom: 0;
  
}