/* .container {
  
    width: 100%;
    margin: 0 auto;  
background-color: #DFC1C1;
display: flex;
flex-direction: column;
align-items: center;}





.title {
    color: #871919;
    font-size: 96px;
}
.main_page_button {
    background-color: #871919;
    color: white;
    height: 100px;
    font-size:  38px;
    width: 300px;
    margin-top: 160px;
    margin-bottom: 160px;
    font-family: "Kadwa", serif;
  font-weight: 700;
  border-radius: 15px;
  padding: 1.37rem;
  
}
.button:hover{
    background-color: #3DB9F9;

}
.mainTitle{
    margin-top: 124px;
    margin-bottom: 0;
    font-size: 96px;
    color: black;
    line-height: 0;
    font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.bottomText{
    margin-left: 166px;
   margin-top: 62px;
   margin-bottom: 38px;
   max-width: 820px;
  text-align: left;
  margin-right: auto;
  font-size: 32px;
  font-family: "Kadwa", serif;
  font-weight: 400;
  font-style: normal;

}
 .bottom_section{ 
  background-color: white;
} 

.main_page_button2 {
  height: 100px;
  font-size:  38px;
  width: 300px;
  margin-top: 160px;
  margin-bottom: 160px;
  cursor:default;
  opacity: 0;
} */


.container {
  min-height: 90vh;
  background: url(../../assets/Background7-fotor-202405121266.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  }



.content {
padding: 80px 100px;
}

.content h1 {
font-size: 70px;
color: #394045;

}

.content p {
  margin: 10px 0 30px;
  color: #394045;
  font-size: 30px;
}

.content .pgr-btn {
  padding: 15px 80px;
  font-size: 20px;
}

.pgr-btn {
  display: inline-block;
  text-decoration: none;
  padding: 14px 40px;
  color: #fff;
  background-color:#7335827c;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  border-radius: 30px;
border-top-right-radius: 0; 
transition: 0.5s;
}

.pgr-btn:hover {
  border-top-right-radius: 30px;
}

.feature-img {
  width: 700px;
  position: absolute;
  bottom: 0;
  right: 8%;
}