.registration_form_body{
    display: grid;
    justify-content:center;
  }
  h1{
    font-size: 4rem;
  }
  h3{
    font-size: 2rem;
  }
  .input_field{
    border-radius: 12px;
    height: 3.125rem;
  }

  input.input_field {
    width: 36.25rem;
  }
  .input_text{
  text-align: left;
  }
  .input_text:last-child{
    text-align: center;
    }
  button.input_field{
    border-radius: 23px;
    font-size: 2rem;
  
  }
  button.input_field:hover{
    background-color: rgba(72, 143, 199, 0.63);}