/* .kadwa-regular {
  font-family: "Kadwa", serif;
  font-weight: 400;
  font-style: normal;
}

.login_img {
  padding-top: 1.85rem;
}

.registration_form {
  background-color: white;
}
.registration_form_body {
  display: grid;
  justify-content: center;
  font-family: "Kadwa", serif;
  min-height: 75vh;
}
h1.form {
  font-size: 4rem;
  font-family: "Kadwa", serif;
}
h3 {
  font-size: 2rem;
  font-family: "Kadwa", serif;
}
.input_field {
  border-radius: 12px;
  height: 3.125rem;
  cursor: pointer;
}
.input_error {
  max-width: 36.25rem;
}
input.input_field {
  width: 36.25rem;
}
.input_text {
  text-align: left;
  
  font-family: "Kadwa", serif;
  margin-left: 20px;
}
.input_text:nth-last-child(1) {
  text-align: center;
}
.input_text:nth-last-child(2) {
  text-align: center;
}
button.input_field {
  border-radius: 23px;
  font-size: 1.8rem;
  background-color: #f4f5f8;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}
button.input_field:hover {
  background-color: rgba(72, 143, 199, 0.63);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
background-color: slateblue;
background: url(../../assets/Background6.jpg) no-repeat;
background-size: cover;
background-position: center;


}

.wrapper {
  position: relative;
  width: 420px;
  height: 450px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  backdrop-filter: blur(15px);
  background-color: #7335827c;
  border: 2px solid #76b3e24b ;
  border-radius: 10px;
  color: white;
  padding: 40px;
}

/* .wrapper .form-box{
  width: 100%;
  padding: 40px;
} */

.loginName {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px ;
}

.input-box input::placeholder {
  color: white;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -50%;
  font-size: 16px;
}

form .remeber-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remeber-forgot label input {
  accent-color: white;
  margin-right: 4px;
}

.remeber-forgot a {
  color: white;
  text-decoration: none;
}

.remeber-forgot a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  height: 45px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

form .register-link {
  font-size: 14.5px;
  text-align: center;
  margin:  20px 0 15px;
}

.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  
  text-decoration: underline;
  
}

/* registration */

.wrapper-register {
  position: relative;
  width: 420px;
  height: 600px;
  background-color: #7335827c;
  border-radius: 10px;
  color: white;
  padding: 40px;


  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.123) ;
  border-radius: 10px;
  color: white;
  padding: 40px;
}

